.gradle/*
/build/
/bin/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Sonar ###
.scannerwork/*
sonar-project.properties~

### MacOS  ###
*.DS_Store

### Docker ###
postgres_db

### Rivigo git hooks ###
./git-hooks
*.hprof
